h1 {
  background-color: #ABABAB;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
body {
    background-image: url('myBackground.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
      }
table { 
  padding: 2px;
  border-collapse:separate;
  -webkit-border-horizontal-spacing: 83px;
 background-color: #ABABAB;
}
/* I had trouble figuring out how to space the cells in the table, so I researched it and found the code for the spacing  on https://stackoverflow.com/questions/12585461/controlling-spacing-between-table-cells.*/
p {
  background-color: #ABABAB;
  width: 70%;
  height: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
