h1 {
  background-color: #D3D3D3;
}
body {
    background-image: url('myBackround.jpg');
  background-size: auto;
  background-repeat: no-repeat;
      }
th {
  margin-left: 10px;
  margin-right: 10px;
}
